<div class="row">
    <div class="col-sm-9">
        <input id="serverName" name="serverName" type="text" class="form-control" [(ngModel)]="serverName" (input)="onChangeServerName()" placeholder="Insert server name here...">
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary" [disabled]="serverName.length===0" (click)="onCreateServer()"> Add server </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p *ngIf="serverCreated; else noServer"> Server created. Server name is {{ serverName }} </p>
        <ng-template #noServer>
            <p> No server created yet </p>
        </ng-template>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-server *ngFor="let server of servers"> </app-server>
    </div>
</div>