<div class="row">
    <div class="col-sx-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-sx-12">
        <h1> {{ recipe.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-sx-12">
        <div appDropdown class="btn-group">
            <button style="cursor:pointer;" type="button" class="btn btn-primary dropdown-toggle">
                Manage recipe <span class="caret"> </span>
            </button>
            <ul class="dropdown-menu">
                <li> <a style="cursor:pointer;" (click)="onAddToShoppingList()"> To Shopping List </a> </li>
                <li> <a style="cursor:pointer;"> Edit Recipe </a> </li>
                <li> <a style="cursor:pointer;"> Delete Recipe </a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sx-12" style="margin: 10px 0;"> {{ recipe.description }} </div>
</div>
<div class="row">
    <div class="col-sx-12">
        <ul class="list-group">
            <li class="list-group-item"*ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>